<ng-container *ngIf='$user | async as user'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Perfil</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h6>
        <b>ID: </b> {{ user._id }}
      </h6>
      <h6>
        <b>Nombre: </b> {{ user.name }}
      </h6>
      <h6>
        <b>Correo electrónico: </b> {{ user.email }}
      </h6>
      <h6>
        <b>Rol: </b> {{ user.role }}
      </h6>
    </mat-card-content>
  </mat-card>
</ng-container>
