<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="!(overlay$ | async) ? 'dialog' : 'navigation'" mode="over">
    <mat-toolbar color="primary">
      <span style='text-align: center;'>Menu</span>
    </mat-toolbar>
    <app-avatar [user]='user' *ngIf='user'></app-avatar>
    <app-sidenav-content [user]='user' [actions]='actions' [links]='links' (action)='onAction($event);drawer.close()' (toggleNav)='drawer.close()' [overlay]='overlay$ | async'></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [user]='user' [actions]='actions' [links]='links' [appName]='appName' [overlay]='overlay$ | async' (toggleNav)='drawer.toggle()'
      (action)='onAction($event)'></app-toolbar>
    <div class="container-fluid">
      <ng-content></ng-content>
    </div>
    <!-- <app-footer *ngIf='false'></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-toolbar [actions]='actions' [links]='links' [appName]='appName' [overlay]='overlay$ | async' (action)='onAction($event)'></app-toolbar>
<div class="container-fluid">
  <ng-content></ng-content>
</div> -->
