:host {
  a,
  span {
    color: black;
    &:hover,
    &.active {
      color: white;
    }
    .mat-icon {
      margin-right: 5px;
      vertical-align: middle;
      color: inherit;
    }
  }
}

a.active{
 background-color: rgba(0,0,0,.08)
}

.sidenav-content {
  padding: 10px 0;
}
