.img-fluid{
  max-height: 350px;
  text-align: center;
}
.drop_zone{
  height: 75px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  text-align: center;
  padding: 25px;
  font-size: 25px;
  line-height: 25px;
}